.hello {
  width: 880px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 20px;
  text-align: left;
  border-top: solid 2px #69463a;
  border-bottom: solid 2px #69463a;
}

.hello__head {
  font-size: 30px;
  color: #3296a0;
}

.hello__text {
  margin-left: 20px;
  font-size: 18px;
  color: #000000;
}
