.materials-wrap {
  position: relative;
  width: 320px;
  padding-top: 10px;
  padding-bottom: 50px;
  background: #e5d6d0;
}

.materials-wrap__box {
  position: relative;
  padding: 20px 20px;
}

.materials-wrap__box svg {
  position: absolute;
  width: 30px;
  top: 20px;
  left: 20px;
}

.materials-wrap__box-title {
  display: inline-block;
  width: 240px;
  margin-left: 40px;
  text-transform: uppercase;
  color: #3296a0;
  font-weight: bold;
}

.materials-wrap__box-link {
  padding-bottom: 5px;
  text-decoration: none;
  color: #3296a0;
  line-height: 30px;
  border-bottom: solid 1px #69463a;

  &:hover {
    color: #69463a;
  }

  &:active {
    color: rgba(0, 0, 0, 0.5);
  }
}

.materials-wrap__box-btn {
  position: absolute;
  bottom: 20px;
  left: 110px;
  padding: 0 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #69463a;
  font-size: 10px;
  border: solid 2px rgba(105, 70, 58, 0.5);
  border-radius: 5px;
  background: #fdc00f;
  cursor: pointer;

  &:hover {
    background: #3296a0;
    color: #ffffff;
  }

  &:active {
    color: #ffffff;
    background: #69463a;
    border: solid 2px rgba(0, 0, 0, 0.5);
  }
}

.materials-wrap__date {
  position: absolute;
  bottom: 0px;
  right: 20px;
  font-size: 11px;
  color: #3296a0;
}

.materials-wrap__schoolbook {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 30px;
}

.materials-wrap__block-schoolbook {
  position: relative;
  padding: 20px;
}

.materials-wrap__block-schoolbook::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  width: 154px;
  height: 204px;
  background: #000000;
  border-radius: 5px;
  opacity: 0;
}

.materials-wrap__block-schoolbook:hover::before {
  opacity: 0.5;
}

.materials-wrap__block-schoolbook:hover .materials-wrap__schoolbook-link {
  display: block;
}

.materials-wrap__schoolbook-link {
  display: none;
  position: absolute;
  top: 40%;
  left: 22%;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #69463a;
  font-size: 12px;
  border: solid 2px rgba(105, 70, 58, 0.5);
  border-radius: 5px;
  background: #fdc00f;
  cursor: pointer;

  &:hover {
    background: #3296a0;
    color: #ffffff;
  }

  &:active {
    color: #ffffff;
    background: #69463a;
    border: solid 2px rgba(0, 0, 0, 0.5);
  }
}

.materials-wrap__img {
  border: solid 2px #3296a0;
  border-radius: 5px;

  &:hover {
    transform: scale(1.7);
    z-index: 3;
  }
}

.materials-wrap__schoolbook-img {
  border: solid 2px #3296a0;
  border-radius: 5px;
}

@media #{$tablet-widths} {
.materials-wrap {
  position: relative;
  width: 700px;
  margin: 30px auto;
  padding-bottom: 50px;
  }

  .materials-wrap__box-title {
    width: 350px;
  }

  .materials-wrap__box-btn {
    position: absolute;
    bottom: 20px;
    left: 300px;
    padding: 0 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #69463a;
    font-size: 10px;
    border: solid 2px rgba(105, 70, 58, 0.5);
    border-radius: 5px;
    background: #fdc00f;
    cursor: pointer;

    &:hover {
      background: #3296a0;
      color: #ffffff;
    }

    &:active {
      color: #ffffff;
      background: #69463a;
      border: solid 2px rgba(0, 0, 0, 0.5);
    }
  }
}

@media #{$desktop-widths} {
.materials-wrap {
  position: relative;
  float: right;
  width: 640px;
  margin: 50px 0;
  padding-bottom: 50px;
  background: #e5d6d0;
}

.materials-wrap__box {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.materials-wrap__box svg {
  position: absolute;
  top: 20px;
  left: 20px;
}

.materials-wrap__box-title {
  margin-left: 40px;
  text-transform: uppercase;
  color: #3296a0;
  font-weight: bold;
}

.materials-wrap__box-link {
  text-decoration: none;
  color: #3296a0;
  line-height: 30px;

  &:hover {
    color: #69463a;
  }

  &:active {
    color: rgba(0, 0, 0, 0.5);
  }
}

.materials-wrap__box-text {
  margin-left: 40px;
}

.materials-wrap__box-btn {
  position: absolute;
  bottom: 20px;
  left: 240px;
  padding: 0 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #69463a;
  font-size: 10px;
  border: solid 2px rgba(105, 70, 58, 0.5);
  border-radius: 5px;
  background: #fdc00f;
  cursor: pointer;

  &:hover {
    background: #3296a0;
    color: #ffffff;
  }

  &:active {
    color: #ffffff;
    background: #69463a;
    border: solid 2px rgba(0, 0, 0, 0.5);
  }
}

#block_id {
  display: none;
}

.materials-wrap__material {
  margin: 20px 20px;
}

.materials-wrap__material-link {
  margin-left: 180px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #69463a;
  font-size: 12px;
  border: solid 2px rgba(105, 70, 58, 0.5);
  border-radius: 5px;
  background: #fdc00f;
  cursor: pointer;

  &:hover {
    background: #3296a0;
    color: #ffffff;
  }

  &:active {
    color: #ffffff;
    background: #69463a;
    border: solid 2px rgba(0, 0, 0, 0.5);
  }
}

.materials-wrap__material-title {
  padding-bottom: 10px;
  color: #3296a0;
  border-bottom: solid 2px #69463a;
}

.materials-wrap__material-text {
  margin-bottom: 20px;
}

.materials-wrap__schoolbook {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 30px;
}

.materials-wrap__block-schoolbook {
  position: relative;
  padding: 20px;
}

.materials-wrap__block-schoolbook::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  width: 154px;
  height: 204px;
  background: #000000;
  border-radius: 5px;
  opacity: 0;
}

.materials-wrap__block-schoolbook:hover::before {
  opacity: 0.5;
}

.materials-wrap__block-schoolbook:hover .materials-wrap__schoolbook-link {
  display: block;
}

.materials-wrap__schoolbook-link {
  display: none;
  position: absolute;
  top: 40%;
  left: 22%;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #69463a;
  font-size: 12px;
  border: solid 2px rgba(105, 70, 58, 0.5);
  border-radius: 5px;
  background: #fdc00f;
  cursor: pointer;

  &:hover {
    background: #3296a0;
    color: #ffffff;
  }

  &:active {
    color: #ffffff;
    background: #69463a;
    border: solid 2px rgba(0, 0, 0, 0.5);
  }
}

.materials-wrap__img {
  border: solid 2px #3296a0;
  border-radius: 5px;

  &:hover {
    transform: scale(1.7);
    z-index: 3;
  }
}

.materials-wrap__schoolbook-img {
  border: solid 2px #3296a0;
  border-radius: 5px;
}

.materials-wrap__handiwork-img {
  margin-left: 160px;
}

.materials-wrap__decoupage-img,
.materials-wrap__crochet-img,
.materials-wrap__knitting-img,
.materials-wrap__fancywork-img {
  margin-bottom: 20px;
}
}
