.page {
  position: relative;
  width: 320px;
  margin: 0 auto;
  font-family: 'Arimo', sans-serif;
  line-height: 24px;
  font-size: 16px;
  background: #f5ece9;
}

@media #{$tablet-widths} {
  .page {
    width: 700px;
  }
}

@media #{$desktop-widths} {
.page {
  width: 1200px;
  }
}
