.slider {
	display: none;
}

@media #{$tablet-widths} {
.slider {
  display: block;
	width: 700px;
}

.slider__wrap {
	width: 100%;
	height: 350px;
	position: relative;
  }

.slider__img {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider__wrap > .slider__img:first-child {
	opacity: 1;
  }
}

@media #{$desktop-widths} {
.slider {
	width: 960px;
	margin: 0 auto;
}

.slider__wrap {
	width: 100%;
	height: 500px;
	position: relative;
  }
}
